altgraph==0.16.1
certifi==2022.12.7
chardet==3.0.4
future==0.16.0
idna==2.7
macholib==1.11
oauthlib==2.1.0
pefile==2018.8.8
PyInstaller==3.4
PyQt5==5.7.1
PyQt5-sip==4.19.12
PySocks==1.6.8
python-dateutil==2.7.3
requests==2.19.1
requests-oauthlib==1.0.0
sip==4.19.8
six==1.11.0
tweepy==3.6.0
urllib3==1.23
watson-developer-cloud==2.1.0
websocket-client==0.47.0

